html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgba(3, 146, 225, 0.9);
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}

p {
    color: #555;
}

nav > a {
    margin-right: 20px;
    font-size: 16px;
}

footer{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
}
footer p{
    text-align: center;
    color: #777;
}